/*
@author: Minatiuu
*/
/* Geral */
* {/* Aplicação do Border-Sizing geral */
    box-sizing: border-box;
}
body {/* Remoção da Margem Padrão */
    margin: 0px;
}

/* Classes */
.flex_divisor {/* Caixa Divisora das Sessões */
    height: 100%;

}
.numbers_row {/* Linha de Números */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 23.3%;
}
    .numbers_row > * {/* Largura de cada Botão (exceto da primeira e última linha) */
        width: 33.3%;
    }
/* Declarações */
body {/* Corpo da Página */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
aside#aside_box {/* Barra Lateral */
    width: 36px;
}
main#geral_flex_box {/* Página Principal do Conteúdo */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#cabeçalho {/* Cabeçalho da Página */
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #cabeçalho > div {/* Texto do Cabeçalho */
        font: 26px 'Ubuntu-Medium', sans-serif;
    }
#calculator_box {/* Caixa da Calculadora */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 36px);
}
    #calculator_box > div {/* Calculadora */
        min-width: 900px;
        max-width: 1200px;
        width: 90%;
        min-height: 400px;
        max-height: 600px;
        height: 90%;
        display: flex;
    }
    #calculator {/* Espaço da Calculadora */
        height: 100%;
        width: 75%;
    }
        #geral_data {/* Display da Conta */
            height: 18%;
            padding: 0.5% 1%;
        }
            #geral_data > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            #geral_data > div:not(:first-child) > div {
                text-align: right;
            }
            #data_message {
                height: 20%;
                font: 18px 'Ubuntu-Light', sans-serif;
            }
            #data_display {
                height: 50%;
                font: 30px 'Ubuntu-Bold', sans-serif;
            }
            #data_historic {
                height: 30%;
                height: 30%;
                font: 20px 'Ubuntu-Regular', sans-serif;
            }
        #operations_divisor {/* Display dos Números e Operações */
            height: 82%;
            display: flex;
            flex-direction: row;
        }
            #complex_operations {/* Operações Complexas */
                width: 54%;
            }
                #cop_grid {
                    display: grid;
                    grid-template-rows: 15% auto auto auto auto 15%;
                    height: 85%;
                    width: 100%;
                }
                    #cop_grid > div#cop_conversions {
                        grid-area: 1 / 7 / 1 / 1;
                    }
                        #cop_grid button {
                            height: 100%;
                            width: 100%;
                        }
            #numbers {/* Números */
                width: 36%;
            }
                #numbers > :first-child, 
                #numbers > :last-child {/* Alteração na Primeira e na Última Linha */
                    height: 15%;
                }
            #simp_operations {/* Operações Simples */
                width: 10.5%;
                display: flex;
                flex-direction: column;
            }
                #simp_operations > * {/* Botões das Operações Simples */
                    width: 100%;
                    height: 20%;
                }
    #calculator_historic {/* Histórico de Operações */
        width: 25%;
        padding: 1% 0.5%;
        overflow-x: hidden;
        overflow-y: auto;
    }
        #calculator_historic > div {
            font: 15px 'Ubuntu-Medium', sans-serif;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 0.5%;
            text-align: right;
        }