/*
@author: Minatiuu
*/

/* Geral */
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
/* Classes */
.flex_divisor {
    height: 100%;
}
.numbers_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 23.3%;
}
    .numbers_row > * {
        width: 33.3%;
    }
/* Declarações */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
aside#aside_box {
    width: 36px;
}
main#geral_flex_box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator_box {
    min-width: 900px;
    max-width: 1200px;
    width: 90%;
    min-height: 400px;
    max-height: 600px;
    height: 90%;
    display: flex;
    flex-direction: row;
}
    #calculator {
        height: 100%;
        width: 75%;
    }
        #geral_data {
            height: 18%;
        }
        #operations_divisor {
            height: 82%;
            display: flex;
            flex-direction: row;
        }
            #complex_operations {
                width: 54%;
            }
            #numbers {
                width: 36%;
            }
                #numbers > :first-child, 
                #numbers > :last-child {
                    height: 15%;
                }
            #simp_operations {
                width: 10.5%;
            }
    #calculator_historic {
        width: 25%;
    }