@charset "UTF-8";
/*
@author: Minatiuu
*/
/* Libs */
/* Mixin's */
/* Configurações */
/* UBUNTU */
@font-face {
  font-family: Ubuntu-Bold;
  src: url(../../database/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu-Bold-Italic;
  src: url(../../database/fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
}

@font-face {
  font-family: Ubuntu-Italic;
  src: url(../../database/fonts/Ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(../../database/fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu-Light-Italic;
  src: url(../../database/fonts/Ubuntu/Ubuntu-LightItalic.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../../database/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Medium-Italic;
  src: url(../../database/fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(../../database/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

/* Geral */
* {
  /* Aplicação do Border-Sizing geral */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* Remoção da Margem Padrão */
  margin: 0px;
}

/* Classes */
.flex_divisor {
  /* Caixa Divisora das Sessões */
  height: 100%;
}

.numbers_row {
  /* Linha de Números */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 23.33%;
}

.numbers_row > * {
  /* Largura de cada Botão (exceto da primeira e última linha) */
  width: 33.3%;
}

.nav_icon {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Declarações */
body {
  /* Corpo da Página */
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

aside#aside_box {
  /* Barra Lateral */
  width: 37px;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#nav_top {
  height: 36px;
}

section#nav_top > div > div {
  font: 25px 'Ubuntu-Bold', sans-serif;
}

section#nav_mid {
  height: calc(100% - 72px);
}

section#nav_bottom {
  height: 36px;
}

main#geral_flex_box {
  /* Página Principal do Conteúdo */
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cabeçalho {
  /* Cabeçalho da Página */
  height: 36px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cabeçalho > div {
  /* Texto do Cabeçalho */
  font: 26px 'Ubuntu-Medium', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#calculator_box {
  /* Caixa da Calculadora */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 36px);
}

#calculator_box > div {
  /* Calculadora */
  min-width: 900px;
  max-width: 1200px;
  width: 90%;
  min-height: 400px;
  max-height: 600px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#calculator {
  /* Espaço da Calculadora */
  height: 100%;
  width: 75%;
}

#geral_data {
  /* Display da Conta */
  height: 18%;
  padding: 0.5% 1%;
}

#geral_data > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#geral_data > div:not(:first-child) > div {
  text-align: right;
}

#data_message {
  height: 20%;
  font: 18px 'Ubuntu-Light', sans-serif;
}

#data_display {
  height: 50%;
  font: 30px 'Ubuntu-Bold', sans-serif;
}

#data_historic {
  height: 30%;
  height: 30%;
  font: 20px 'Ubuntu-Regular', sans-serif;
}

#operations_divisor {
  /* Display dos Números e Operações */
  height: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#complex_operations {
  /* Operações Complexas */
  width: 54%;
}

#cop_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% auto auto auto auto 15%;
      grid-template-rows: 15% auto auto auto auto 15%;
  height: 100%;
  width: 100%;
}

#cop_grid > div#cop_conversions {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: -6;
  grid-area: 1/7/1/1;
}

#cop_grid button {
  height: 100%;
  width: 100%;
}

#numbers {
  /* Números */
  width: 36%;
}

#numbers > :first-child,
#numbers > :last-child {
  /* Alteração na Primeira e na Última Linha */
  height: 15%;
}

#simp_operations {
  /* Operações Simples */
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#simp_operations > * {
  /* Botões das Operações Simples */
  width: 100%;
  height: 20%;
}

#calculator_historic {
  /* Histórico de Operações */
  width: 25%;
  padding: 0.5% 0.5%;
  overflow: auto;
}
#calculator_historic > div {
  font: 16px "Ubuntu-Bold", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5%;
  scrollbar-width: thin;
  height: 99.9%;
}
#calculator_historic > div > div {
  margin: 0.1875em 0px;
  display: flex;
}
#calculator_historic > div > div > div:first-child {
  width: 2em;
}
#calculator_historic > div > div > div:first-child > span#historic_count {
  text-align: left;
}
#calculator_historic > div > div > div:last-child {
  text-align: right;
}

/* Tema */
/*
@author: Minatiuu
*/
/* Cor Principal Verde */
/* Cor Principal Part-Dark */
/* Cor Secundária Part-Dark */
/* CORES DE TEXTO */
/* Cor Principal do Texto */
/* Cor Secundária do Texto */
/* IMAGENS */
::selection {
  /* Seleção */
  background: #0b0;
  color: #000;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

/* Declarações Globais */
* {
  /* Cor Padrão do Texto */
  color: #eee;
}

* {
  /* Transição Padrão */
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Classes */
div.flex_divisor {
  /* Divisor dos Displays */
}

div.flex_divisor button {
  /* Botões */
  background: #333;
  border: 0px;
  font: 24px 'Ubuntu', sans-serif;
}

div.flex_divisor button:hover {
  /* Botões ao Passar o Mouse */
  background: #292929;
}
div.flex_divisor button:active {
  /* Botões ao Clicar */
  background: #222;
}

/* Declarações */
aside#aside_box {
  /* Barra Lateral */
  border-left: 1px solid #0b0;
  border-right: 1px solid #0b0;
  background: #000;
  z-index: 3;
  /* Sombra Padrão */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

main#geral_flex_box {
  /* Conteúdo */
  z-index: 1;
  background: url("../../database/src/wallpaper-1.jpeg") no-repeat fixed center;
}

main#geral_flex_box header#cabeçalho {
  /* Cabeçalho */
  background: #050505;
}

main#geral_flex_box article#calculator_box {
  /* Área da Calculadora */
  background: radial-gradient(rgba(68, 68, 68, 0.2), rgba(68, 68, 68, 0.4666666667), rgba(68, 68, 68, 0.6666666667));
}
main#geral_flex_box article#calculator_box > div {
  /* Caixa da Calculadora */
  background: #252525;
  /* Sombra Padrão */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

main#geral_flex_box article#calculator_box > div > section#calculator {
  /* Seção dos Displays */
  border: 1px solid transparent;
}

main#geral_flex_box article#calculator_box > div > section#calculator:hover {
  border: 1px solid #070;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#geral_data {
  /* Divisão do Display */
}

main#geral_flex_box article#calculator_box > div > section#calculator div#geral_data #data_message > div {
  /* Display do Log */
  color: #777;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#geral_data #data_historic > div {
  /* Display da Última Operação */
  color: #999;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor {
  /* Divisor das Operações */
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#complex_operations > * > div:nth-child(1n+26) {
  /* Barra Inferior */
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#complex_operations > * > div:nth-child(1n+26) > * {
  background: #151515;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#complex_operations > * > div:nth-child(1n+26) > *:hover {
  background: #0f0f0f;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#complex_operations > * > div:nth-child(1n+26) > *:active {
  background: #150808;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :first-child > *,
main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :last-child > * {
  /* Barra Inferior e Superior */
  background: #151515;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :first-child > *:hover,
main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :last-child > *:hover {
  background: #0f0f0f;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :first-child > *:active,
main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor div#numbers > :last-child > *:active {
  background: #150808;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor #numbers > :last-child > :last-child {
  /* Botão Equal */
  background: #0b0;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor #numbers > :last-child > :last-child:hover {
  background: #090;
}

main#geral_flex_box article#calculator_box > div > section#calculator div#operations_divisor #numbers > :last-child > :last-child:active {
  background: #070;
}

main#geral_flex_box article#calculator_box > div > section#calculator_historic {
  /* Seção do Histórico */
  border: 1px solid transparent;
}

main#geral_flex_box article#calculator_box > div > section#calculator_historic:hover {
  border: 1px solid #070;
}
main#geral_flex_box article#calculator_box > div > section#calculator_historic > div > div > div > span {
  color: #aaa;
}
main#geral_flex_box article#calculator_box > div > section#calculator_historic > div > div > div > span#historic_count {
  color: #777;
}
/*# sourceMappingURL=css.css.map */