/* Cor Principal Verde */
$primaryColor: #0b0;
$h-primaryColor: #090;
$a-primaryColor: #070;
/* Cor Principal Part-Dark */
$secundColor: #252525;
$thirdColor: #333;
$h-thirdColor: #292929;
$a-thirdColor: #222;
/* Cor Secundária Part-Dark */
$quartColor: #555;
$fifthColor: #151515;
$h-fifthColor: #0f0f0f;
$a-fifthColor: #150808;

/* CORES DE TEXTO */
/* Cor Principal do Texto */
    $txt-primaryColor: #aaa;
    $txt-h-primaryColor: #ccc;
    $txt-a-primaryColor: #eee;
/* Cor Secundária do Texto */
    $txt-secundColor: #777;
    $txt-h-secundColor: #999;
    $txt-a-secundCOlor: #bbb;

/* IMAGENS */
$bgImage: url('../../database/src/wallpaper-1.jpeg');